In [517]:
import pandas as pd
import numpy as np
import scipy.stats as stats
# Read the CSV file into a DataFrame
filepath_2014='/Users/aman/Downloads/RPC11_Input_For_Participants/datasets/constituency_wise_results_2014.csv'
filepath_2019='/Users/aman/Downloads/RPC11_Input_For_Participants/datasets/constituency_wise_results_2019.csv'
filepath_state_code='/Users/aman/Downloads/RPC11_Input_For_Participants/datasets/dim_states_codes.csv'
df_2014=pd.read_csv(filepath_2014)
df_2019=pd.read_csv(filepath_2019)
df_code=pd.read_csv(filepath_state_code)

df_2014

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357

### ****Capitalise The Entire Data Set if its a String****

In [518]:
df_2014 = df_2014.map(lambda x: x.capitalize() if isinstance(x, str) and x!="NOTA" else x)
df_2019 = df_2019.map(lambda x: x.capitalize() if isinstance(x, str) and x!="NOTA" else x)
df_2014[['category','party']]=df_2014[['category','party']].map(lambda x:x.upper() if x!='General' and not pd.isna(x) else x)
df_2019[['category','party']]=df_2019[['category','party']].map(lambda x:x.upper() if x!='General' and not pd.isna(x) else x)
df_2019

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra pradesh,Aruku,Kishore chandra deo,Male,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418
1,Andhra pradesh,Aruku,Dr. kosuri kasi viswanadha veera venkata satya...,Male,54.0,ST,BJP,Lotus,17578,289,17867,1451418
2,Andhra pradesh,Aruku,Goddeti. madhavi,Female,26.0,ST,YSRCP,Ceiling fan,557561,4629,562190,1451418
3,Andhra pradesh,Aruku,Shruti devi vyricherla,Female,46.0,ST,INC,Hand,17656,74,17730,1451418
4,Andhra pradesh,Aruku,Gangulaiah vampuru.,Male,49.0,ST,JNP,Glass tumbler,42245,549,42794,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,Tiravitamankai@lourdhumary,Female,57.0,General,IND,Slate,870,0,870,973410
8593,Puducherry,Puducherry,Ims. balaji,Male,32.0,General,IND,Bat,2546,0,2546,973410
8594,Puducherry,Puducherry,Ramesh.d,Male,49.0,SC,IND,Mike,1653,0,1653,973410
8595,Puducherry,Puducherry,V. ramamurthi,Male,74.0,General,IND,Whistle,641,1,642,973410
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410

### ****If Candidate Name is NOTA/None of the above. Then Sex,Age,Category column is NA,0 & NA respectively.****

In [519]:
# Define conditions to check for 'none of the above', 'nota' or None in the 'Name' column
conditions = df_2014['candidate'].isin(['None of the above', 'NOTA']) | df_2014['candidate'].isna()

# Update the corresponding rows
df_2014.loc[conditions, ['sex', 'category', 'age']] = ['NOTA', 'NOTA', 0]

df_2014['age'] = df_2014['age'].fillna(0).astype(int)

conditions = df_2019['candidate'].isin(['None of the above', 'NOTA']) | df_2019['candidate'].isna()
df_2019.loc[conditions, ['sex', 'category', 'age']] = ['NOTA', 'NOTA', 0]
df_2019['age'] = df_2019['age'].fillna(0).astype(int)


df_2014

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra pradesh,Adilabad,Godam nagesh,M,49,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra pradesh,Adilabad,Naresh,M,37,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra pradesh,Adilabad,Ramesh rathod,M,48,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra pradesh,Adilabad,Rathod sadashiv,M,55,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra pradesh,Adilabad,Nethawath ramdas,M,44,ST,IND,Auto- rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,Puvala nageswara rao,M,60,GEN,IND,Sewing machine,465,0,465,901357
8351,Puducherry,Puducherry,K. manjini,M,41,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. valavan,M,40,GEN,IND,Carrom board,497,0,497,901357
8353,Puducherry,Puducherry,V. vijaya,F,29,GEN,IND,Green chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the above,NOTA,0,NOTA,NOTA,NOTA,22267,1,22268,901357

### ****Remove Suffix From Category Column to Constituency Name****

In [520]:
# Function to remove suffix from pc_name if it matches category
def remove_suffix(row):
    pc_name = row['pc_name']
    category = row['category']
    
    # Check if pc_name ends with (category) and remove it
    if pc_name.endswith(f" ({category})"):
        return pc_name[:-len(f" ({category})")].strip()
    else:
        return pc_name

# Apply the function to each row
df_2014['pc_name'] = df_2014.apply(remove_suffix, axis=1)
df_2019['pc_name'] = df_2019.apply(remove_suffix, axis=1)
df_2014

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra pradesh,Adilabad,Godam nagesh,M,49,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra pradesh,Adilabad,Naresh,M,37,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra pradesh,Adilabad,Ramesh rathod,M,48,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra pradesh,Adilabad,Rathod sadashiv,M,55,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra pradesh,Adilabad,Nethawath ramdas,M,44,ST,IND,Auto- rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,Puvala nageswara rao,M,60,GEN,IND,Sewing machine,465,0,465,901357
8351,Puducherry,Puducherry,K. manjini,M,41,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. valavan,M,40,GEN,IND,Carrom board,497,0,497,901357
8353,Puducherry,Puducherry,V. vijaya,F,29,GEN,IND,Green chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the above,NOTA,0,NOTA,NOTA,NOTA,22267,1,22268,901357

### ****Mapping Against 2019 Dataset to Cater The Bifurcation of AP in 2014. i.e Alloating Constituency Against Newly Formed TL****

In [521]:
# Create a mapping dictionary from df_2019
mapping_dict = dict(zip(df_2019['pc_name'], df_2019['state']))

# Map the state column in df_2014 using the mapping_dict
df_2014['state'] = df_2014['pc_name'].map(mapping_dict)

df_2014

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Telangana,Adilabad,Godam nagesh,M,49,ST,TRS,Car,425762,5085,430847,1386282
1,Telangana,Adilabad,Naresh,M,37,ST,INC,Hand,257994,1563,259557,1386282
2,Telangana,Adilabad,Ramesh rathod,M,48,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Telangana,Adilabad,Rathod sadashiv,M,55,ST,BSP,Elephant,94363,57,94420,1386282
4,Telangana,Adilabad,Nethawath ramdas,M,44,ST,IND,Auto- rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,Puvala nageswara rao,M,60,GEN,IND,Sewing machine,465,0,465,901357
8351,Puducherry,Puducherry,K. manjini,M,41,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. valavan,M,40,GEN,IND,Carrom board,497,0,497,901357
8353,Puducherry,Puducherry,V. vijaya,F,29,GEN,IND,Green chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the above,NOTA,0,NOTA,NOTA,NOTA,22267,1,22268,901357

### Remove Duplicate Data Combine Filter on State, Constituency & Party Symbol and Keeping the One with Lowest Votes

In [522]:
df_2014=df_2014.sort_values(by='total_votes').drop_duplicates(subset=['state', 'pc_name', 'party_symbol'],keep='first')
df_2019=df_2019.sort_values(by='total_votes').drop_duplicates(subset=['state', 'pc_name', 'party_symbol'],keep='first')

df_2019

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
8097,Telangana,Nizamabad,Surakanta raja reddy,Male,56,General,IND,Triangle,84,0,84,1553385
8577,Lakshadweep,Lakshadweep,NOTA,NOTA,0,NOTA,NOTA,NaN,99,1,100,55189
8380,Chandigarh,Chandigarh,Ram kumar,Male,38,SC,IND,Table,101,0,101,646729
8039,Telangana,Nizamabad,B. bala raju,Male,39,SC,IND,Bottle,106,0,106,1553385
8066,Telangana,Nizamabad,Rajanna,Male,55,General,IND,Skipping rope,107,0,107,1553385
...,...,...,...,...,...,...,...,...,...,...,...,...
5962,Uttar pradesh,Ghaziabad,Vijay kumar singh,Male,67,General,BJP,Lotus,942576,1927,944503,2728978
1559,Gujarat,Navsari,C. r. patil,Male,64,General,BJP,Lotus,969430,3309,972739,1971658
4850,Rajasthan,Chittorgarh,Chandra prakash joshi,Male,43,General,BJP,Lotus,979946,2996,982942,2015911
433,Assam,Gauhati,Queen oja,Female,67,General,BJP,Lotus,1007156,1780,1008936,2181319
3132,Madhya pradesh,Indore,Shankar lalwani,Male,57,General,BJP,Lotus,1066824,1745,1068569,2350580

## 1. Voter Turnout Constituency Wise

In [523]:
# Drop duplicates of pc_name and aggregate sum of total_votes and first value of total_electors
subset_df_2014 = df_2014.groupby(['state', 'pc_name'], as_index=False).agg({
    'total_votes': 'sum',
    'total_electors': 'first'
}).reset_index()

# Calculate turnout as (total_votes / total_electors) * 100
subset_df_2014['turnout'] = ((subset_df_2014['total_votes'] / subset_df_2014['total_electors']) * 100).round(2)


# Sort subset_df by turnout ascending
subset_df_bottom = subset_df_2014.sort_values(by='turnout', ascending=True)

# Sort subset_df by turnout descending
subset_df_top = subset_df_2014.sort_values(by='turnout', ascending=False)

print('Bottom 5 Constituency in 2014 : ',subset_df_bottom.head(5),sep='\n')

print('Top 5 Constituency in 2014 :',subset_df_top.head(5),sep='\n')

Bottom 5 Constituency in 2014 :
     index            state      pc_name  total_votes  total_electors  turnout
128    128  Jammu & kashmir     Srinagar       312212         1207230    25.86
124    124  Jammu & kashmir     Anantnag       375279         1301143    28.84
125    125  Jammu & kashmir    Baramulla       465992         1190766    39.13
239    239      Maharashtra       Kalyan       824196         1922034    42.88
67      67            Bihar  Patna sahib       882262         1946249    45.33
Top 5 Constituency in 2014 :
     index        state    pc_name  total_votes  total_electors  turnout
30      30        Assam     Dhubri      1369624         1550166    88.35
275    275     Nagaland   Nagaland      1038910         1182972    87.82
502    502  West bengal     Tamluk      1337684         1527273    87.59
476    476  West bengal  Bishnupur      1272070         1466921    86.72
489    489  West bengal     Kanthi      1290811         1490409    86.61

#### ***For 2019***

In [524]:
#For 2019
# Drop duplicates of pc_name and aggregate sum of total_votes and first value of total_electors
subset_df_2019 = df_2019.groupby(['state', 'pc_name'], as_index=False).agg({
    'total_votes': 'sum',
    'total_electors': 'first'
}).reset_index()

# Calculate turnout as (total_votes / total_electors) * 100
subset_df_2019['turnout'] = ((subset_df_2019['total_votes'] / subset_df_2019['total_electors']) * 100).round(2)



# Sort subset_df by turnout ascending
subset_df_bottom = subset_df_2019.sort_values(by='turnout', ascending=True)

# Sort subset_df by turnout descending
subset_df_top = subset_df_2019.sort_values(by='turnout', ascending=False)

print('Bottom 5 Constituency in 2019 : ',subset_df_bottom.head(5),sep='\n')
print('Top 5 Constituency in 2019 :',subset_df_top.head(5),sep='\n')

Bottom 5 Constituency in 2019 :
     index            state    pc_name  total_votes  total_electors  turnout
138    138  Jammu & kashmir   Anantnag       124896         1397779     8.94
142    142  Jammu & kashmir   Srinagar       186832         1294671    14.43
139    139  Jammu & kashmir  Baramulla       455550         1317738    34.57
400    400        Telangana  Hyderabad       877872         1957931    44.84
253    253      Maharashtra     Kalyan       890313         1965676    45.29
Top 5 Constituency in 2019 :
     index              state         pc_name  total_votes  total_electors  \
30      30              Assam          Dhubri      1685005         1858566
514    514        West bengal       Bishnupur      1420648         1627199
29      29              Assam         Barpeta      1458549         1685149
524    524        West bengal      Jalpaiguri      1500922         1735464
26      26  Arunachal pradesh  Arunachal east       293781          339788

     turnout
30     90.66
514    87.31
29     86.55
524    86.49
26     86.46

## 2. Voter Turnout Statewise

In [525]:
# Drop duplicates of pc_name and aggregate sum of total_votes and first value of total_electors
subset_df_2019 = df_2019.groupby(['state', 'pc_name'], as_index=False).agg({
    'total_votes': 'sum',
    'total_electors': 'first'
}).reset_index()

# Now group by state, summing total_votes and keeping the first total_electors for each state
final_df_2019 = subset_df_2019.groupby('state', as_index=False).agg({
    'total_votes': 'sum',
    'total_electors': 'sum'
}).reset_index(drop=True)

# Calculate turnout as (total_votes / total_electors) * 100
final_df_2019['turnout'] = ((final_df_2019['total_votes'] / final_df_2019['total_electors']) * 100).round(2)


# Sort subset_df by turnout ascending
subset_df_bottom = final_df_2019.sort_values(by='turnout', ascending=True)

# Sort subset_df by turnout descending
subset_df_top = final_df_2019.sort_values(by='turnout', ascending=False)

print('Bottom 5 State in 2019 : ',subset_df_bottom.head(5),sep='\n')
print('Top 5 State in 2019 :',subset_df_top.head(5),sep='\n')

Bottom 5 State in 2019 :
              state  total_votes  total_electors  turnout
13  Jammu & kashmir      3552622         7922538    44.84
4             Bihar     40806661        71216290    57.30
33    Uttar pradesh     86481398       146134603    59.18
24     Nct of delhi      8679012        14327649    60.58
19      Maharashtra     54054245        88676946    60.96
Top 5 State in 2019 :
          state  total_votes  total_electors  turnout
17  Lakshadweep        47009           55189    85.18
23     Nagaland      1006357         1213777    82.91
20      Manipur      1617330         1959563    82.54
32      Tripura      2153172         2614718    82.35
35  West bengal     57206976        70001284    81.72

#### ***FOR 2014***

In [526]:
# Drop duplicates of pc_name and aggregate sum of total_votes and first value of total_electors
subset_df_2014 = df_2014.groupby(['state', 'pc_name'], as_index=False).agg({
    'total_votes': 'sum',
    'total_electors': 'first'
}).reset_index()

# Now group by state, summing total_votes and keeping the first total_electors for each state
final_df_2014 = subset_df_2014.groupby('state', as_index=False).agg({
    'total_votes': 'sum',
    'total_electors': 'sum'
}).reset_index(drop=True)

# Calculate turnout as (total_votes / total_electors) * 100
final_df_2014['turnout'] = ((final_df_2014['total_votes'] / final_df_2014['total_electors']) * 100).round(2)


# Sort subset_df by turnout ascending
subset_df_bottom = final_df_2014.sort_values(by='turnout', ascending=True)

# Sort subset_df by turnout descending
subset_df_top = final_df_2014.sort_values(by='turnout', ascending=False)

print('Bottom 5 State in 2014 : ',subset_df_bottom.head(5),sep='\n')
print('Top 5 State in 2014 :',subset_df_top.head(5),sep='\n')

Bottom 5 State in 2014 :
              state  total_votes  total_electors  turnout
12  Jammu & kashmir      3566863         7183129    49.66
4             Bihar     34252404        60621939    56.50
31    Uttar pradesh     80822776       138320263    58.43
18      Maharashtra     49037227        80798823    60.69
17   Madhya pradesh     29639807        48121301    61.59
Top 5 State in 2014 :
                   state  total_votes  total_electors  turnout
22              Nagaland      1038910         1182972    87.82
16           Lakshadweep        43239           49922    86.61
30               Tripura      2023829         2388822    84.72
6   Dadra & nagar haveli       165286          196597    84.07
27                Sikkim       308967          370770    83.33

## 3. To determine which constituencies (pc_name) have elected the same party (party) for two consecutive elections (2014 and 2019), and to rank them by the percentage of votes received by that winning party in 2019, follow these steps:

#####  ***3a. Identify Winning Parties in Each Election: Determine the winning party in each constituency for both 2014 and 2019 based on the maximum votes received.Identify Winning Parties in Each Election: Determine the winning party in each constituency for both 2014 and 2019 based on the maximum votes received. <br> Also, Compute the percentage of votes for the winning party in each election.***

In [527]:
# Find winning party for each constituency in 2014
winning_2014 = df_2014.loc[df_2014.groupby(['state', 'pc_name'])['total_votes'].idxmax()]
winning_2014['vote_percentage_2014'] = (winning_2014['total_votes'] / winning_2014['total_electors']) * 100

# Find winning party for each constituency in 2019
winning_2019 = df_2019.loc[df_2019.groupby(['state', 'pc_name'])['total_votes'].idxmax()]
winning_2019['vote_percentage_2019'] = (winning_2019['total_votes'] / winning_2019['total_electors']) * 100

##### ***3b. Find Constituencies with Same Winning Party: Compare the winning parties for both elections and identify constituencies with the same winning party.***

In [528]:
# Merge the two DataFrames to find constituencies with the same winning party
merged = pd.merge(winning_2014, winning_2019, on=['state', 'pc_name'], suffixes=('_2014', '_2019'))
same_party = merged[merged['party_2014'] == merged['party_2019']]
same_party

,state,pc_name,candidate_2014,sex_2014,age_2014,category_2014,party_2014,party_symbol_2014,general_votes_2014,postal_votes_2014,...,sex_2019,age_2019,category_2019,party_2019,party_symbol_2019,general_votes_2019,postal_votes_2019,total_votes_2019,total_electors_2019,vote_percentage_2019
4,Andhra pradesh,Aruku,Kothapalli geetha,F,43,ST,YSRCP,Ceiling fan,410730,2461,...,Female,26,ST,YSRCP,Ceiling fan,557561,4629,562190,1451418,38.733845
8,Andhra pradesh,Guntur,Jayadev galla,M,48,GEN,TDP,Bicycle,615170,3247,...,Male,53,General,TDP,Bicycle,586292,1626,587918,1706119,34.459378
10,Andhra pradesh,Kadapa,Y.s. avinash reddy,M,29,GEN,YSRCP,Ceiling fan,665491,6492,...,Male,34,General,YSRCP,Ceiling fan,777967,5532,783499,1570330,49.893908
12,Andhra pradesh,Kurnool,Butta renuka,F,42,GEN,YSRCP,Ceiling fan,471525,1257,...,Male,52,General,YSRCP,Ceiling fan,603098,2364,605462,1573009,38.490689
14,Andhra pradesh,Nandyal,S.p.y reddy,M,64,GEN,YSRCP,Ceiling fan,620061,2350,...,Male,60,General,YSRCP,Ceiling fan,715024,5864,720888,1603220,44.965008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,West bengal,Maldaha dakshin,Abu hasem khan chowdhury,M,70,GEN,INC,Hand,379646,645,...,Male,72,General,INC,Hand,443540,730,444270,1575590,28.197056
495,West bengal,Mathurapur,Choudhury mohan jatua,M,75,SC,AITC,Flowers and grass,629612,650,...,Male,80,SC,AITC,Flowers and grass,726463,365,726828,1652096,43.994296
501,West bengal,Srerampur,Kalyan banerjee,M,57,GEN,AITC,Flowers and grass,514484,449,...,Male,62,General,AITC,Flowers and grass,637231,476,637707,1785472,35.716438
502,West bengal,Tamluk,Adhikari suvendu,M,44,GEN,AITC,Flowers and grass,715556,1372,...,Male,42,General,AITC,Flowers and grass,723641,792,724433,1694646,42.748338
503,West bengal,Uluberia,Sultan ahmed,M,58,GEN,AITC,Flowers and grass,570598,187,...,Female,57,General,AITC,Flowers and grass,694617,328,694945,1614988,43.030970

##### ***3c. Calculate Vote Percentage for 2019: Compute the percentage of votes for the winning party in 2019 as (total votes for the winning party / total electors) * 100.***

##### ***3d. Rank by Vote Percentage: Sort the constituencies by the vote percentage in descending order.***

In [529]:
# Rank by vote percentage
ranked_constituencies = same_party.sort_values(by='vote_percentage_2019', ascending=False)
ranked_constituencies

,state,pc_name,candidate_2014,sex_2014,age_2014,category_2014,party_2014,party_symbol_2014,general_votes_2014,postal_votes_2014,...,sex_2019,age_2019,category_2019,party_2019,party_symbol_2019,general_votes_2019,postal_votes_2019,total_votes_2019,total_electors_2019,vote_percentage_2019
191,Kerala,Wayanad,M i shanavas,M,62,GEN,INC,Hand,376751,284,...,Male,48,General,INC,Hand,705034,1333,706367,1359679,51.951012
203,Madhya pradesh,Hoshangabad,Uday pratap singh,M,49,GEN,BJP,Lotus,668201,927,...,Male,54,General,BJP,Lotus,876911,1016,877927,1706141,51.456884
121,Himachal pradesh,Kangra,Shanta kumar,M,79,GEN,BJP,Lotus,455160,1003,...,Male,67,ST,BJP,Lotus,712133,13085,725218,1427338,50.809129
122,Himachal pradesh,Mandi,Ram swaroop sharma,M,55,GEN,BJP,Lotus,362338,486,...,Male,60,General,BJP,Lotus,638441,8748,647189,1281462,50.503956
171,Karnataka,Uttara kannada,Anantkumar hegde,M,46,GEN,BJP,Lotus,546476,463,...,Male,51,General,BJP,Lotus,783211,2831,786042,1556599,50.497398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Uttar pradesh,Sant kabir nagar,Sharad tripathi,M,42,GEN,BJP,Lotus,348884,8,...,Male,30,ST,BJP,Lotus,466167,1376,467543,1962903,23.818956
294,Punjab,Ludhiana,Ravneet singh bittu,M,38,GEN,INC,Hand,300424,35,...,Male,43,General,INC,Hand,383284,511,383795,1683325,22.799816
58,Bihar,Kishanganj,Mohammad asrarul haque,M,67,GEN,INC,Hand,493294,167,...,Male,54,General,INC,Hand,366820,197,367017,1659651,22.114107
427,Uttar pradesh,Kaushambi,Vinod kumar sonkar,M,44,SC,BJP,Lotus,331480,244,...,Male,49,SC,BJP,Lotus,381517,1492,383009,1787120,21.431633
374,Telangana,Secundrabad,Bandaru dattatreya,M,66,GEN,BJP,Lotus,437860,411,...,Male,58,General,BJP,Lotus,384248,532,384780,1968276,19.549088

## 4. To find the constituencies that voted for different parties in two elections (2014 and 2019) and list the top 10 based on the difference in winner vote percentage between the two elections

##### ***4a. Find Constituencies with Different Winning Parties: Compare the winning parties for both elections and identify constituencies with different winning parties.***

In [530]:

different_party = merged[merged['party_2014'] != merged['party_2019']]
different_party

,state,pc_name,candidate_2014,sex_2014,age_2014,category_2014,party_2014,party_symbol_2014,general_votes_2014,postal_votes_2014,...,sex_2019,age_2019,category_2019,party_2019,party_symbol_2019,general_votes_2019,postal_votes_2019,total_votes_2019,total_electors_2019,vote_percentage_2019
0,Andaman & nicobar islands,Andaman & nicobar islands,Bishnu pada ray,M,64,GEN,BJP,Lotus,90882,87,...,Male,52,General,INC,Hand,95249,59,95308,318471,29.926744
1,Andhra pradesh,Amalapuram,Dr pandula ravindra babu,M,58,SC,TDP,Bicycle,591480,3067,...,Female,46,SC,YSRCP,Ceiling fan,482003,3955,485958,1459556,33.294920
2,Andhra pradesh,Anakapalli,Muttamsetti srinivasa rao (avanthi),M,47,GEN,TDP,Bicycle,566667,1796,...,Female,52,General,YSRCP,Ceiling fan,583210,3016,586226,1521363,38.532947
3,Andhra pradesh,Anantapur,J.c. divakar reddi,M,70,GEN,TDP,Bicycle,606849,3439,...,Male,48,General,YSRCP,Ceiling fan,690901,4307,695208,1664160,41.775310
5,Andhra pradesh,Bapatla,Malyadri sriram,M,60,SC,TDP,Bicycle,574690,3455,...,Male,42,SC,YSRCP,Ceiling fan,592250,6007,598257,1468671,40.734582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,West bengal,Medinipur,Sandhya roy,F,73,GEN,AITC,Flowers and grass,579881,560,...,Male,54,General,BJP,Lotus,683285,2148,685433,1674236,40.940047
497,West bengal,Murshidabad,Badaruddoza khan,M,60,GEN,CPM,"Hammer, sickle and star",426858,89,...,Male,57,General,AITC,Flowers and grass,604024,322,604346,1725187,35.030753
498,West bengal,Purulia,Dr. mriganka mahato,M,51,GEN,AITC,Flowers and grass,466980,1297,...,Male,34,General,BJP,Lotus,666016,2091,668107,1645884,40.592593
499,West bengal,Raiganj,Md. salim,M,56,GEN,CPM,"Hammer, sickle and star",316863,652,...,Female,48,General,BJP,Lotus,509862,1790,511652,1601220,31.953885
500,West bengal,Ranaghat,Tapas mandal,M,42,SC,AITC,Flowers and grass,588545,1906,...,Male,56,SC,BJP,Lotus,779767,3486,783253,1762252,44.446141

##### ***4b. Calculate Difference in Vote Percentage: Compute the difference in vote percentage for the winning party between the two elections.<br><br>4c. Sort and List Top 10 Constituencies: Sort the constituencies based on the difference in vote percentage and list the top 10.***

In [531]:
# Calculate the difference in vote percentage
different_party.loc[:,'vote_percentage_diff'] = (different_party['vote_percentage_2019'] - different_party['vote_percentage_2014']).round(2)

# Sort by the difference in vote percentage and list top 10 constituencies
top_10_diff = different_party.sort_values(by='vote_percentage_diff', ascending=False).head(10)

top_10_diff

/var/folders/5f/zqfc0_fx09ddcyqcfvwbhfhc0000gn/T/ipykernel_11510/2008940457.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  different_party.loc[:,'vote_percentage_diff'] = (different_party['vote_percentage_2019'] - different_party['vote_percentage_2014']).round(2)

,state,pc_name,candidate_2014,sex_2014,age_2014,category_2014,party_2014,party_symbol_2014,general_votes_2014,postal_votes_2014,...,age_2019,category_2019,party_2019,party_symbol_2019,general_votes_2019,postal_votes_2019,total_votes_2019,total_electors_2019,vote_percentage_2019,vote_percentage_diff
464,West bengal,Alipurduars,Dasrath tirkey,M,47,ST,AITC,Flowers and grass,361685,768,...,43,ST,BJP,Lotus,747788,3016,750804,1648383,45.547910,20.91
28,Assam,Autonomous district,Biren singh engti,M,74,ST,INC,Hand,213038,114,...,49,ST,BJP,Lotus,380183,1133,381316,795945,47.907330,17.55
283,Puducherry,Puducherry,R. radhakrishnan,M,42,GEN,AINRC,Jug,255732,94,...,68,General,INC,Hand,444646,335,444981,973410,45.713625,17.33
335,Tamil nadu,Kanniyakumari,Radhakrishnan p.,M,62,GEN,BJP,Lotus,372572,334,...,68,General,INC,Hand,624627,2608,627235,1501250,41.780849,16.38
154,Karnataka,Chikkballapur,M veerappa moily,M,74,GEN,INC,Hand,424491,309,...,76,General,BJP,Lotus,744475,1437,745912,1808780,41.238404,15.62
163,Karnataka,Kolar,K.h.muniyappa,M,67,SC,INC,Hand,418349,577,...,44,SC,BJP,Lotus,707930,1235,709165,1629961,43.508096,15.45
451,Uttar pradesh,Sambhal,Satyapal singh,M,40,GEN,BJP,Lotus,359678,564,...,86,General,SP,Bicycle,657505,501,658006,1828764,35.980914,14.71
76,Bihar,Supaul,Ranjeet ranjan,F,41,GEN,INC,Hand,332925,2,...,73,General,JD(U),Arrow,596807,570,597377,1690620,35.334788,13.51
133,Jharkhand,Giridih,Ravindra kumar pandey,M,55,GEN,BJP,Lotus,391905,8,...,50,General,AJSUP,Banana,646864,1413,648277,1649413,39.303498,13.38
343,Tamil nadu,Perambalur,"Marutharajaa, r.p.",M,51,GEN,ADMK,Two leaves,462077,616,...,77,General,DMK,Rising sun,677005,6692,683697,1391853,49.121351,13.13

## 5. To find the top 5 candidates based on the margin difference with runners-up in 2014 and 2019,

##### ***5a. Identify the Winner and Runner-Up: Determine the winning and runner-up candidates for each constituency in both 2014 and 2019 based on the total votes received.<br><br>5b. Calculate the Margin Difference: Compute the margin difference between the winner and the runner-up for each election.<br><br>5c. Rank the candidates based on their margin difference and select the top 5.***

In [532]:
# Function to calculate margin differences for a given year
def calculate_margins(df):
    # Sort candidates by votes within each constituency
    sorted_df = df.sort_values(by=['state', 'pc_name', 'total_votes'], ascending=[True, True, False])
    # Group by constituency and extract the top two candidates (winner and runner-up)
    top_two = sorted_df.groupby(['state', 'pc_name']).head(2)
    # Pivot to get winner and runner-up side by side
    pivot = top_two.pivot_table(index=['state', 'pc_name'], values=['candidate', 'total_votes'], aggfunc=list)
    # Calculate margin differences
    pivot['margin_diff'] = pivot['total_votes'].apply(lambda x: x[0] - x[1] if len(x) > 1 else 0)
    return pivot

# Calculate margins for 2014 and 2019
margins_2014 = calculate_margins(df_2014)
margins_2019 = calculate_margins(df_2019)

# # Combine results for both years
# combined_margins = pd.merge(
#     margins_2014[['candidate', 'margin_diff']], 
#     margins_2019[['candidate', 'margin_diff']], 
#     left_index=True, 
#     right_index=True, 
#     suffixes=('_2014', '_2019')
# )

# Find top 5 candidates based on margin difference in 2019 & 2014
top_5_candidates_2014 = margins_2014.sort_values(by='margin_diff', ascending=False).head(5)
print('Top 5 Candidates B/O Margin Difference 2014 :',top_5_candidates_2014)

top_5_candidates_2019 = margins_2019.sort_values(by='margin_diff', ascending=False).head(5)
print('Top 5 Candidates B/O Margin Difference 2019 :',top_5_candidates_2019)

Top 5 Candidates B/O Margin Difference 2014 :                                                                  candidate  \
state         pc_name
Gujarat       Vadodara           [Narendra modi, Mistri madhusudan devram]
Uttar pradesh Ghaziabad                    [Vijay kumar singh, Raj babbar]
Gujarat       Navsari                          [C. r. patil, Maksud mirza]
Rajasthan     Jaipur                  [Ramcharan bohara, Dr. mahesh joshi]
Gujarat       Surat      [Darshana vikram jardosh, Desai naishadhbhai b...

                              total_votes  margin_diff
state         pc_name
Gujarat       Vadodara   [845464, 275336]       570128
Uttar pradesh Ghaziabad  [758482, 191222]       567260
Gujarat       Navsari    [820831, 262715]       558116
Rajasthan     Jaipur     [863358, 324013]       539345
Gujarat       Surat      [718412, 185222]       533190
Top 5 Candidates B/O Margin Difference 2019 :                                                       candidate  \
state     pc_name
Gujarat   Navsari    [C. r. patil, Patel dharmeshbhai bhimbhai]
Haryana   Karnal                 [Sanjay bhatia, Kuldip sharma]
          Faridabad          [Krishan pal, Avtar singh bhadana]
Rajasthan Bhilwara    [Subhash chandra baheria, Ram pal sharma]
Gujarat   Vadodara     [Ranjanben bhatt, Prashant patel (tiko)]

                          total_votes  margin_diff
state     pc_name
Gujarat   Navsari    [972739, 283071]       689668
Haryana   Karnal     [911594, 255452]       656142
          Faridabad  [913222, 274983]       638239
Rajasthan Bhilwara   [938160, 326160]       612000
Gujarat   Vadodara   [883719, 294542]       589177

## 6. % Split of votes of parties between 2014 vs 2019 at national level.

In [533]:


# Aggregate votes by party for 2014
party_votes_2014 = df_2014.groupby('party')['total_votes'].sum()

# Aggregate votes by party for 2019
party_votes_2019 = df_2019.groupby('party')['total_votes'].sum()

# Merge 2014 and 2019 data
national_vote_split = pd.merge(party_votes_2014, party_votes_2019, on=['party'], suffixes=('_2014', '_2019'))



# Calculate percentage split
national_vote_split['percentage_2014'] = ((national_vote_split['total_votes_2014'] / national_vote_split['total_votes_2014'].sum()) * 100).round(2)
national_vote_split['percentage_2019'] = ((national_vote_split['total_votes_2019'] / national_vote_split['total_votes_2019'].sum()) * 100).round(2)


national_vote_split.sort_values(by='percentage_2019',ascending=False)

        total_votes_2014  total_votes_2019  percentage_2014  percentage_2019
party
BJP            160122335         229076879            32.58            39.30
INC             95933215         119495214            19.52            20.50
AITC            21215661          24929330             4.32             4.28
BSP             21989174          22246501             4.47             3.82
IND             15837764          16583326             3.22             2.85
...                  ...               ...              ...              ...
JMBP               57988              3267             0.01             0.00
JMM(U)              3512              8672             0.00             0.00
JPJD               27619             27404             0.01             0.00
JPS                47696              2640             0.01             0.00
YUS                 4578              1296             0.00             0.00

[228 rows x 4 columns]

## 7. % Split of votes of parties between 2014 vs 2019 at state level.

In [534]:
# Aggregate votes by party and state for 2014
state_party_votes_2014 = df_2014.groupby(['state', 'party'])['total_votes'].sum().reset_index()

# Aggregate votes by party and state for 2019
state_party_votes_2019 = df_2019.groupby(['state', 'party'])['total_votes'].sum().reset_index()

# Merge 2014 and 2019 data
state_vote_split = pd.merge(state_party_votes_2014, state_party_votes_2019, on=['state', 'party'], suffixes=('_2014', '_2019'))


# Calculate percentage split
state_vote_split['percentage_2014'] = ((state_vote_split['total_votes_2014'] / state_vote_split.groupby('state')['total_votes_2014'].transform('sum')) * 100).round(2)
state_vote_split['percentage_2019'] = ((state_vote_split['total_votes_2019'] / state_vote_split.groupby('state')['total_votes_2019'].transform('sum')) * 100).round(2)


state_vote_split

,state,party,total_votes_2014,total_votes_2019,percentage_2014,percentage_2019
0,Andaman & nicobar islands,AAAP,3737,2839,2.01,1.37
1,Andaman & nicobar islands,AITC,2283,1721,1.23,0.83
2,Andaman & nicobar islands,BJP,90969,93901,48.81,45.34
3,Andaman & nicobar islands,BSP,1139,2486,0.61,1.20
4,Andaman & nicobar islands,INC,83157,95308,44.62,46.02
...,...,...,...,...,...,...
486,West bengal,RPI(A),20144,1803,0.05,0.00
487,West bengal,RSP,869432,208275,2.33,0.37
488,West bengal,SDPI,47861,11696,0.13,0.02
489,West bengal,SWJP,5340,1899,0.01,0.00
490,West bengal,WPOI,48006,23035,0.13,0.04

## 8. List top 5 constituencies for two major national parties where they have gained vote share in 2019 as compared to 2014.

In [535]:
# Calculate vote share for each party in each constituency for 2014 and 2019
df_2014['vote_share'] = ((df_2014['total_votes'] / df_2014['total_electors']) * 100).round(2)
df_2019['vote_share'] = ((df_2019['total_votes'] / df_2019['total_electors']) * 100).round(2)

# Merge the dataframes on state, pc_name, and party
merged_df = pd.merge(df_2014, df_2019, on=['state', 'pc_name', 'party'], suffixes=('_2014', '_2019'),how='inner')

# Calculate the vote share difference between 2019 and 2014
merged_df['vote_share_diff'] = merged_df['vote_share_2019'] - merged_df['vote_share_2014']

# Filter for two major national parties
major_parties = ['BJP', 'INC']  # Replace these with actual major parties
filtered_df = merged_df[merged_df['party'].isin(major_parties)]

# Get the top 5 constituencies with the highest gain in vote share for each party
top_5_gain = filtered_df.sort_values(by=['party','vote_share_diff'], ascending=[True,False]).groupby('party').head(5)


top_5_gain

,state,pc_name,candidate_2014,sex_2014,age_2014,category_2014,party,party_symbol_2014,general_votes_2014,postal_votes_2014,...,sex_2019,age_2019,category_2019,party_symbol_2019,general_votes_2019,postal_votes_2019,total_votes_2019,total_electors_2019,vote_share_2019,vote_share_diff
29327,Tripura,Tripura west,Sudhindra chandra dasgupta,M,74,GEN,BJP,Lotus,54406,300,...,Female,50,General,Lotus,570021,3511,573532,1352857,42.39,38.01
29431,West bengal,Purulia,Bikash banerjee,M,47,GEN,BJP,Lotus,85978,258,...,Male,34,General,Lotus,666016,2091,668107,1645884,40.59,34.73
29369,Tripura,Tripura east,Parikshit debbarma,M,53,ST,BJP,Lotus,60245,368,...,Male,43,ST,Lotus,479634,2492,482126,1261861,38.21,32.89
29711,West bengal,Ranaghat,Supravat biswas,M,74,SC,BJP,Lotus,233239,431,...,Male,56,SC,Lotus,779767,3486,783253,1762252,44.45,29.87
29511,West bengal,Jhargram,Bikash mudi,M,37,ST,BJP,Lotus,122321,138,...,Male,56,ST,Lotus,623373,3210,626583,1641868,38.16,29.86
29203,Tamil nadu,Karur,"Jothimani, s.",F,38,GEN,INC,Hand,30420,39,...,Female,43,General,Hand,691518,4179,695697,1387286,50.15,47.80
29170,Tamil nadu,Arani,M.k.vishnu prasad,M,42,GEN,INC,Hand,27679,38,...,Male,46,General,Hand,613390,4370,617760,1449150,42.63,40.61
29318,Tamil nadu,Tiruchirappalli,Sarubala r thondaiman,F,55,GEN,INC,Hand,51458,79,...,Male,69,General,Hand,615667,5618,621285,1508963,41.17,37.45
29270,Tamil nadu,Krishnagiri,Chellakumar. dr. a,M,54,GEN,INC,Hand,38877,8,...,Male,58,General,Hand,609396,1902,611298,1530404,39.94,37.12
29293,Tamil nadu,Thiruvallur,Jayakumar.m,M,34,SC,INC,Hand,43953,7,...,Male,69,SC,Hand,764093,3199,767292,1946870,39.41,36.83

# 9. List top 5 constituencies for two major national parties where they have lost vote share in 2019 as compared to 2014.

In [536]:
# Get the top 5 constituencies with the highest loss in vote share for each party
top_5_loss = filtered_df.sort_values(by=['party','vote_share_diff'],ascending=[True,True]).groupby('party').head(5)
top_5_loss

,state,pc_name,candidate_2014,sex_2014,age_2014,category_2014,party,party_symbol_2014,general_votes_2014,postal_votes_2014,...,sex_2019,age_2019,category_2019,party_symbol_2019,general_votes_2019,postal_votes_2019,total_votes_2019,total_electors_2019,vote_share_2019,vote_share_diff
30378,Andhra pradesh,Narsapuram,Gokaraju ganga raju,M,69,GEN,BJP,Lotus,537498,2808,...,Male,59,General,Lotus,12154,260,12414,1439691,0.86,-39.92
30381,Andhra pradesh,Tirupati,Karumanchi jayaram,M,54,SC,BJP,Lotus,539887,3064,...,Male,44,SC,Lotus,16001,124,16125,1650453,0.98,-33.51
30412,Andhra pradesh,Visakhapatnam,Kambhampati hari babu,M,60,GEN,BJP,Lotus,565326,1506,...,Female,58,General,Lotus,33430,462,33892,1829300,1.85,-31.05
29305,Daman & diu,Daman & diu,Patel lalubhai babubhai,M,58,GEN,BJP,Lotus,46956,4,...,Male,63,General,Lotus,37586,11,37597,121740,30.88,-11.11
30472,Maharashtra,Sangli,Sanjaykaka patil,M,49,GEN,BJP,Lotus,609402,2161,...,Male,54,General,Lotus,503615,5380,508995,1809109,28.14,-8.94
29396,Dadra & nagar haveli,Dadra and nagar haveli,Delkar mohanbhai sanjibhai,M,51,ST,INC,Hand,74576,0,...,Male,40,ST,Hand,8608,0,8608,250029,3.44,-34.49
29957,Maharashtra,Ratnagiri - sindhudurg,Nilesh narayan rane,M,33,GEN,INC,Hand,342999,38,...,Male,62,General,Hand,63013,286,63299,1455577,4.35,-20.74
29517,Arunachal pradesh,Arunachal west,Takam sanjoy,M,47,ST,INC,Hand,125908,1721,...,Male,51,ST,Hand,49362,1591,50953,463775,10.99,-17.59
29910,West bengal,Raiganj,Deepa dasmunsi,F,53,GEN,INC,Hand,315507,374,...,Female,58,General,Hand,83460,202,83662,1601220,5.22,-17.55
29855,Manipur,Outer manipur,Thangso baite,M,61,ST,INC,Hand,296618,152,...,Male,56,ST,Hand,151103,1407,152510,1022099,14.92,-17.37

## 10. Which constituency has voted for NOTA the most

In [537]:
# Filter for NOTA votes
nota_votes = df_2019[df_2019['party'].isin(['NOTA', 'None of the above'])]

# Sort by votes in descending order to get the top 5 constituencies with the most NOTA votes
top_5_nota_votes = nota_votes.sort_values(by='total_votes', ascending=False).head(5)


top_5_nota_votes

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,vote_share
798,Bihar,Gopalganj (sc),NOTA,NOTA,0,NOTA,NOTA,NaN,51565,95,51660,1839514,2.81
10,Andhra pradesh,Aruku,NOTA,NOTA,0,NOTA,NOTA,NaN,47955,22,47977,1451418,3.31
540,Bihar,Paschim champaran,NOTA,NOTA,0,NOTA,NOTA,NaN,45637,62,45699,1633824,2.80
4248,Odisha,Nabarangpur,NOTA,NOTA,0,NOTA,NOTA,NaN,44580,2,44582,1461004,3.05
7559,Chhattisgarh,Bastar,NOTA,NOTA,0,NOTA,NOTA,NaN,41656,11,41667,1379122,3.02

## 11. Which constituencies have elected candidates whose party has less than 10% vote share at state level in 2019?

In [538]:
# Calculate total votes for each party at the state level
state_party_votes = df_2019.groupby(['state', 'party'])['total_votes'].sum().reset_index()

# Calculate total votes in each state
state_total_votes = df_2019.groupby('state')['total_votes'].sum().reset_index()
state_total_votes.rename(columns={'total_votes': 'state_total_votes'}, inplace=True)

# Merge the total state votes with the state party votes
state_party_votes = pd.merge(state_party_votes, state_total_votes, on='state')

# Calculate the vote share for each party at the state level
state_party_votes['vote_share_party'] = ((state_party_votes['total_votes'] / state_party_votes['state_total_votes']) * 100).round(2)

# Identify parties with less than 10% vote share at the state level
parties_less_than_10 = state_party_votes[state_party_votes['vote_share_party'] < 10]




# Merge this information back to the main dataframe to filter constituencies
df_2019 = pd.merge(df_2019, state_party_votes[['state', 'party', 'vote_share_party']], on=['state', 'party'], how='left')



# Identify constituencies where the elected candidates' party has less than 10% vote share at the state level
elected_candidates = df_2019.loc[df_2019.groupby('pc_name')['total_votes'].idxmax()]
constituencies_with_less_than_10 = elected_candidates[elected_candidates['vote_share_party'] < 10]

constituencies_with_less_than_10.head(10).sort_values(by='vote_share' ,ascending=False)

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,vote_share,vote_share_party
8402,Jharkhand,Giridih,Chandra prakash choudhary,Male,50,General,AJSUP,Banana,646864,1413,648277,1649413,39.30,4.33
8493,Assam,Dhubri,Badruddin ajmal,Male,63,General,AIUDF,Lock and key,718131,633,718764,1858566,38.67,7.80
8315,West bengal,Baharampur,Adhir ranjan chowdhury,Male,63,General,INC,Hand,589580,1526,591106,1638378,36.08,5.61
8220,Punjab,Gurdaspur,Sunny deol,Male,59,General,BJP,Lotus,551177,7542,558719,1595284,35.02,9.63
8074,Tamil nadu,Chidambaram,Thirumaavalavan thol,Male,56,SC,VCK,Pot,498401,1828,500229,1480222,33.79,1.15
8188,Bihar,Hajipur (sc),Pashu pati kumar paras,Male,66,SC,LJP,Bungalow,539665,1645,541310,1823664,29.68,7.86
8266,Tamil nadu,Coimbatore,Natarajan. p.r,Male,68,General,CPIM,"Hammer, sickle and star",567741,3409,571150,1958904,29.16,2.35
8104,Maharashtra,Amravati,Navnit ravi rana,Female,33,SC,IND,Spanner,507844,3103,510947,1833091,27.87,3.68
7427,Jammu & kashmir,Baramulla,Mohammad akbar lone,Male,71,General,JKN,Plough,132969,457,133426,1317738,10.13,7.89
7165,Jammu & kashmir,Anantnag,Hasnain masoodi,Male,65,General,JKN,Plough,40032,148,40180,1397779,2.87,7.89

## 12. Correlation between postal votes percentage and voter turnout percentage 
## ***Using Pearson's correlation coefficient***

In [539]:
# Calculate postal votes percentage
df_2019['postal_votes_percentage'] = (df_2019['postal_votes'] / df_2019['total_electors']) * 100

# Calculate voter turnout percentage
df_2019['voter_turnout_percentage'] = (df_2019['total_votes'] / df_2019['total_electors']) * 100

# Compute the correlation between postal votes percentage and voter turnout percentage
correlation = df_2019['postal_votes_percentage'].corr(df_2019['voter_turnout_percentage'])

# Determine the strength of the correlation
if correlation > 0.7 or correlation < -0.7:
    correlation_strength = "Strong"
elif correlation > -0.3 and correlation < 0.3:
    correlation_strength = "Weak"
else:
    correlation_strength = "Moderate"

correlation_strength

'Moderate'

In [540]:
df_2019

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,vote_share,vote_share_party,postal_votes_percentage,voter_turnout_percentage
0,Telangana,Nizamabad,Surakanta raja reddy,Male,56,General,IND,Triangle,84,0,84,1553385,0.01,3.15,0.000000,0.005408
1,Lakshadweep,Lakshadweep,NOTA,NOTA,0,NOTA,NOTA,NaN,99,1,100,55189,0.18,0.21,0.001812,0.181196
2,Chandigarh,Chandigarh,Ram kumar,Male,38,SC,IND,Table,101,0,101,646729,0.02,1.03,0.000000,0.015617
3,Telangana,Nizamabad,B. bala raju,Male,39,SC,IND,Bottle,106,0,106,1553385,0.01,3.15,0.000000,0.006824
4,Telangana,Nizamabad,Rajanna,Male,55,General,IND,Skipping rope,107,0,107,1553385,0.01,3.15,0.000000,0.006888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Uttar pradesh,Ghaziabad,Vijay kumar singh,Male,67,General,BJP,Lotus,942576,1927,944503,2728978,34.61,49.56,0.070613,34.610136
8593,Gujarat,Navsari,C. r. patil,Male,64,General,BJP,Lotus,969430,3309,972739,1971658,49.34,62.21,0.167828,49.336092
8594,Rajasthan,Chittorgarh,Chandra prakash joshi,Male,43,General,BJP,Lotus,979946,2996,982942,2015911,48.76,58.47,0.148618,48.759196
8595,Assam,Gauhati,Queen oja,Female,67,General,BJP,Lotus,1007156,1780,1008936,2181319,46.25,36.05,0.081602,46.253482
8596,Madhya pradesh,Indore,Shankar lalwani,Male,57,General,BJP,Lotus,1066824,1745,1068569,2350580,45.46,58.00,0.074237,45.459801

## 13.Correlation between GDP of a state and voter turnout %

In [516]:
df_gsdp = pd.read_excel('/Users/aman/Downloads/RPC11_Input_For_Participants/datasets/GSDP.xlsx')


# Loop through all columns except the first one to remove commas and convert to numeric
for col in df_gsdp.columns[1:]:
    df_gsdp[col] = pd.to_numeric(df_gsdp[col] ,errors='coerce')
    
print(df_gsdp[['GDP_2018', 'GDP_2019']].isna().sum())




df_gsdp=df_gsdp.groupby('State', as_index=False).sum()


# Calculate GDP per capita (simplified, assuming linear relationship)
df_gsdp['Diff_2014-19'] = (((df_gsdp['GDP_2019']-df_gsdp['GDP_2014']) / df_gsdp['GDP_2014'])*100).round(2)

# State Total Votes in 2014
state_total_votes_2014 = df_2014.groupby('state')['total_votes'].sum().reset_index()
state_total_votes_2014.rename(columns={'total_votes': 'votes_2014'}, inplace=True)

state_total_votes.rename(columns={'state_total_votes': 'votes_2019'}, inplace=True)

# # Merge this information back to the main dataframe to filter constituencies
state_total_votes = pd.merge(state_total_votes, state_total_votes_2014[['state', 'votes_2014']], on=['state'], how='left')

state_total_votes['Diff']=state_total_votes['votes_2019']-state_total_votes['votes_2014']
state_total_votes

GDP_2018    1
GDP_2019    1
dtype: int64

KeyError: 'votes_2014'